################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/PlaySenac/FileContentIndex/77c6f187-132a-4111-9cd1-64f2b1e4ed1c.vsidx
/.vs/PlaySenac/FileContentIndex/a4eab49e-782d-424b-b5f9-3b87300b42e8.vsidx
